#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden; 
}

@media (max-width: 576px) {
  #root {
    padding: 1rem; /* 👈 menos padding en móviles */
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.01);
}
.list-group-item {
  cursor: pointer;
}


.read-the-docs {
  color: #888;
}


.hover-shadow:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.4rem 0.8rem rgba(206, 59, 59, 0.1);
}

.main-title{
  color: #404041;

}

/* .card-items {
   overflow-x: auto; 
}

.card-items .row,
.card-items .list-group {
  max-width: 100%;
  overflow-x: auto;
} */



